# Ambiente Virtual
.venv/
env/
venv/

# Caches e arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dados Processados 
dados/processados/*.csv
dados/processados/*.parquet

# Arquivos de IDEs e do Sistema Operacional
.vscode/
.DS_Store

# Credenciais e Variáveis de Ambiente 
.env